@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.landing-page{
    background: #f8f9fa;
    color:#333;
    min-height: 100vh;
    padding-top: 56px;
    /*background-image: url(path to hero image);
    background-size: cover;
    background-position: center;*/
    font-family: 'Roboto', sans-serif;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1; /* Ensure content is above the overlay */
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 100vh; /* Full height minus NavBar */
    text-align: center;
}

.hero-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-subtitle{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero-cta-buttons .btn{
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    min-width: 150px;
}

.hero-cta-buttons .btn:hover,
.hero-cta-buttons .btn:focus {
    background-color: #007bff; /* Example hover/focus color */
    color: #fff; /* Adjust text color as needed */
    /* Additional styles for hover/focus state */
}
/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .hero-title {
      font-size: 2rem; /* Slightly smaller title on mobile */
    }
  
    .hero-subtitle {
      font-size: 1rem; /* Slightly smaller text on mobile */
    }
  }