.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #fff;
}

/** Navbar styling **/
.navbar .nav-links{
    list-style: none;
    display: flex;
    gap: 20px; /* Creates space between links */

}

.navbar .nav-links li a {
    text-decoration: none;
    color: #333; /* Dark grey color for text */
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-family: 'Open Sans', sans-serif; /* Example font */
  }

  /* Hover and Active States*/
  .navbar .nav-links li a:hover,
.navbar .nav-links li a:active {
  color: #000; /* Slightly darker color on hover/active */
}

/* NavBar font family*/
.navbar-logo {
    font-family: 'Playfair Display', serif; /* Example font */
    color: #333;
  }

  /* Navigation bar responsiveness */
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none; /* Or convert to a hamburger menu */
    }
    .navbar {
      flex-direction: column;
    }
  }