.navbar{
  display: flex;
  justify-content: flex-start;
  position: fixed; 
  align-items: center;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white; /* gonna change this to black when we work on the home page*/
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

/** Navbar styling **/
 .navbar .nav-links{
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20px; /* Creates space between links */

}

.navbar .nav-links li a {
    text-decoration: none;
    color: black; /* Dark grey color for text */
    text-transform: uppercase;
    padding:1em;
    font-family: 'Open Sans', sans-serif; /* Example font */
  }

  /* Hover and Active States*/
  .navbar .nav-links li a:hover,
.navbar .nav-links li a:active {
  color: #000; /* Slightly darker color on hover/active */
}

/* NavBar font family*/
.navbar-logo {
    font-family: 'Playfair Display', serif; /* Example font */
    color: #333;
  }

  /* Navigation bar responsiveness */
  